.swal2-title {
    font-size: 1.52em;
  }
  .swal2-icon.swal2-warning {
    border-color: red;
    color: red;
  }
  .swal2-styled {
    padding: 0.8em 1.6em;
  }
  .swal2-html-container {
    color: #545454;
    font-size: 0.97em;
  }
  .swal2-popup {
    border-radius: 30px;
  }

  