/* colours */
html, body {
  background-color: #FFE1C4;
  margin: 0;
  padding: 0;
  height: 100%;
}
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}
.subtitle {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 0.9rem;
  color: #aa16ff;
  font-weight: normal;
  text-align: center;
  transform: translate(-50%, -10px);
}
 

.map {
  position: relative;
  width: 100%; 
  height: 100vh; 
  transform-origin: center center; 
}
/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
  text-align: center;
  font-size: 18px;
  padding: 30px; 
  height: 85px; 
}

.nav-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; /* Define a height; adjust as needed */
}

.nav-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items vertically */
}
.material-icons {
  margin-left: 20px; 
}

.material-icons.sidenav-trigger {
  margin-right: 20px; 
}

nav a {
  text-transform: uppercase;
  color: var(--title);
  padding: 10px 20px; /* Optional: Add padding to individual links if needed */
}

nav a span {
  font-weight: bold;
}

nav .sidenav-trigger {
  margin: 0;
}

.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

.location-container {
  position: absolute;
  top: 95px; 
  left: 415px;  
  z-index: 500; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border: 2px solid black; /* Add black border */
  gap: 10px; 
}

.location-container button {
  box-sizing: border-box; 
  background-color: #4CAF50; 
  color: white; 
  border-radius: 4px; 
  font-size: 1rem; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
}

.location-container .btn.green {
  background-color: #4CAF50;
}

.location-container button:hover {
  background-color: #45a049; 
  transform: scale(0.98);
}

.From-To-container {
  position: absolute;
  top: 87px;
  left: 10px; 
  z-index: 500; 
  background: white;
  padding: 8px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 400px; 
  font-size: 0.5rem; /* Smaller font size for the container */
}

.From-To-container .input-field {
  margin-bottom: 5px;
  width: 150px; /* Adjust width to make the input fields smaller */
}

.From-To-container button {
  box-sizing: border-box; 
  margin-top: 5px;
  background-color: #4CAF50; 
  color: white; 
  border-radius: 4px; 
  padding: 6px 12px; 
  font-size: 1rem; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
  position: relative; 
  left: 50%; 
  transform: translateX(-50%);
}

/* Add hover effect for the button */
.From-To-container button:hover {
  background-color: #45a049; 
}

.instructions-container {
  position: absolute;
  bottom: 13%;
  right: 3%;
  padding: 10px;
  background-color: rgba(200, 204, 255, 0.8); 
  border-radius: 5px;
  z-index:1001;
}

/* Make the toast message smaller */
#toast-container .toast {
  font-size: 0.8rem; 
  border-radius: 25px; 
}

.suggestions-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #ccc; /* Lighter border color for better blending with input fields */
  border-top: none;
  z-index: 1000;
  width: calc(100% - 20px); /* Responsive width */
  max-height: 220px; /* Enough height for touch devices, but not too large */
  overflow-y: auto;
  background-color: #fff; /* White to match input fields */
  display: none; /* Initially hidden */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  border-radius: 0 0 8px 8px; /* Rounded corners at the bottom to match input fields */
  margin: 0 10px; /* Margin to match input fields' positioning */
  top: 100%; /* Position right below the input field */
}

.suggestions-dropdown div {
  padding: 12px 16px; /* Comfortable tapping area */
  cursor: pointer;
  font-size: 16px; /* Legible font size */
  border-bottom: 1px solid #eee; /* Separator for individual suggestions */
}

.suggestions-dropdown div:last-child {
  border-bottom: none; /* No separator for the last item */
}

.suggestions-dropdown div:hover, .suggestions-dropdown div:focus {
  background-color: #f8f8f8; /* Slightly darker background for active item */
}


#customZoomControl {
  position: absolute;
  top: 100px; 
  right: 10px; 
  background: white;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
#customZoomControl a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.lang-menu {
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 1002;
  font-weight: bold;
  background: rgb(27, 27, 27);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 4px;
  box-sizing: border-box;
  width: auto;
  min-width: 90px;
}

.lang-menu .selected-lang {
  display: flex;
  align-items: center; /* Ensure flag and checkmark are vertically centered */
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
  background: #f9f9f9;
  padding: 4px;
  border-radius: 4px;
  user-select: none;
  color: blue;
  align-items: center;
}

#lang-options {
  display: none;
  position: absolute;
  bottom: 0;
  left: 100%; /* Position the language options to the right of .lang-menu */
  margin-left: 4px; /* Add a little space between the menu and the options */
  white-space: nowrap; /* Prevent wrapping of options */
  background: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  align-items: center;
  min-width: auto;
}

#lang-options li a {
  color: red;
  padding: 4px;
  display: block;
  text-align: center;
  border-radius: 4px;
}

#lang-options li a.checked::after {
  content: '✓';
  color: green;
  margin-left: 5px;
}

/* Adjust styles for selected and unchecked options */
.selected-lang .checked {
  display: inline-block; /* Show the check mark for selected language */
  color: green;
  margin-left: 5px;
}

#option-greek:not(.selected) a,
#option-english:not(.selected) a {
  display: inline-block; /* Show only the non-selected language option */
}

@media screen and (max-width: 768px){
  .lang-menu {
    max-width: 10%; 
    bottom: 10px;
    left: 10px;
  } 
    .subtitle {
      width:350px;
      position: absolute;
      top: 10%; 
      left: 50%;
      font-size: 0.9rem; /* Slightly smaller font size for mobile */
      color: #aa16ff;
      font-weight: normal;
      text-align: center;
      transform: translate(-50%, -3px);
    }

  nav .sidenav-trigger {
    margin-top: -4px; 
  }

  nav {
    font-size: 4vw; 
  }
  .display a, .From-To-container button, #toast-container .toast {
    font-size: 3.5vw; 
  }
  .From-To-container, .location-container {
    top: 11%; 
    width: 70%; 
    left: 1%; 
  }

  .instructions-container {
  }
    

.instructions-container ul {
  display: none;
}

.location-container {
  position: absolute;
  top: 12%; 
  width: 25%;
  left: 72%; 
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: 1vw; 
  padding:0;
}
  nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
  text-align: center;
  font-size: 18px;
}
.nav-wrapper .container {
  margin-left: 0; 
  width: 93%;

}

.suggestions-dropdown {
  width: calc(100% - 20px); 
  max-height: 250px; 
  margin: 0 20px; 
}

.suggestions-dropdown div {
  padding: 15px 20px; 
  font-size: 18px;
}

#customZoomControl {
position: absolute; /* Keep it fixed relative to the viewport */
top:auto;
bottom: 1%; 
right: 10px; /* Space from the right */
background: white;
border: 2px solid rgba(0,0,0,0.2);
border-radius: 4px;
height:45px;
width:25px
}

#customZoomControl a {
display: block;
width: 20px; 
height: 20px; 
line-height: 20px; /* Center the text vertically */
}


.nav-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items vertically */
}
.material-icons {
  margin-left: 0; 
}

}

